<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a_level">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicns_calendar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicns_calendar"
        android:supportsRtl="true"
        android:theme="@style/Theme.a_level">

        <activity
            android:name=".ui.errorreport_page">
        </activity>

        <activity
            android:name=".Main"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.a_level.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>